<!-- main.hbs-->

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/mh.css">
        <link rel="icon" href="./img/note.png">
        <title>Melody Harbor</title>
    </head>
    <body>
        <div class="header">
            <div class="MH">
                <img src="./img/note.png">
                <h1>Melody Harbor</h1>
                <img src="./img/note.png">
            </div>
            <div>
                [ <a href="/">Home</a>
                | <a href="/labels">Record Labels</a>
                | <a href="/artists">Artists</a>
                | <a href="/albums">Albums</a>
                | <a href="/songs">Songs</a>
                | <a href="/songartists">SongArtists</a>
                ]
            </div>
        </div>
        <br>
        <hr>
        
        {{{body}}}

    </body>
</html>